@import "normalize.css";
@import "bootstrap.min.css";
/*:root {*/
/*    height: auto;*/
/*}*/
/*span {*/
/*  color: var(--white);*/
/*}*/
/*.row {*/
/*  padding-left: initial;*/
/*  padding-right: initial;;*/
/*}*/
/*[class*="col-"] {*/
/*  !*padding-left: 2px;*!*/
/*  !*padding-right: 2px;*!*/
/*  padding-top: 15px;*/
/*  padding-bottom: 15px;*/
/*  !*background-color: #1d2124;*!*/
/*  !*background-color: rgba(86,61,124,.15);*!*/
/*  border: 1px solid #ddd;*/
/*  !*background-color: rgba(86,61,124,.2);*!*/
/*}*/

body {
  background: #FFFFFF;
  /*color: #cce5ff;*/
  font-family: var(--font-family-sans-serif);
  /*background-image: url("");*/
  /*background-repeat: no-repeat;*/
}
* {
  margin: 0px;
  padding: 0px;
}


.el-footer {
  background-color: #1d2124;
}
.el-header {
  background-color: #95999c;
}
.el-aside {
  background-color: #F9F7F5;
}
.el-main {
  background-color: #F9F7F5;
}

.el-col {
  width: 200px;
}

.el-menu {
  background-color: #545c64;
}

